.__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 236px;
    margin: 18px;
}

.__image {
    width: 100%;
    border-radius: 16px;
}

.__pinName {
    padding: 0 6px;
    margin: 6px 0;
    color: #111;
    font-size: 14px;
    font-weight: 700;
}

.__pinDescription {
    padding: 0 6px;
    color: #212121;
    font-size: 14px;
}

.__image__container {
    position: relative;
}